[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Kry9toN
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Kry9toN
	label-Verified = -1..+1 group user/Kry9toN
	push = group user/Kry9toN
	read = group user/Kry9toN
	rebase = group user/Kry9toN
	removeReviewer = group user/Kry9toN
	submit = group user/Kry9toN
[access "refs/heads/*"]
	create = group user/Kry9toN
	push = +force group user/Kry9toN
	pushMerge = group user/Kry9toN
	read = group user/Kry9toN
[access "refs/tags/*"]
	push = group user/Kry9toN
	push = +force group user/Kry9toN
