    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container">
        <div class="row wow fadeInUp">

          <div class="col-lg-6 col-md-4">
            <div class="contact-about">
              <h3>Komodos</h3>
              <p>Custom ROM dengan segala kearifan lokalnya.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="ion-ios-location-outline"></i>
                <p>Komodo Island - Indonesia</p>
              </div>

              <div>
                <i class="ion-ios-email-outline"></i>
                <p>komodoosid@gmail.com</p>
              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
            <div class="contact-about">
              <div>
                <i class="ion-android-people"></i>
                <p><a href="https://t.me/KomodOSGroup" target="_blank">Telegram Group</a></p>
              </div>

              <div>
                <i class="ion-paper-airplane"></i>
                <p><a href="https://t.me/KomodOSRom" target="_blank">Telegram Channel</a></p>
              </div>

            </div>  
          </div>
        </div>

      </div>
    </section><!-- #contact -->
