<head>
  <meta charset="utf-8">
 <title>{{ site.title }} | {{ page.title }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="komodo os, komodo rom, komodo custom rom, komodo, komodos" name="keywords">
  <meta content="Komodos adalah sistem operasi perangkat bergerak yang dibangun berdasarkan Android Open Source Project." name="description">
  <meta name="google-site-verification" content="HHHzccvit93giZVDi2mZ5PEyrAbvV9Xb9LTotqZS3_8" />

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160846600-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160846600-1');
  </script>

</head>
